<div class="grid mt-4 mr-3 ml-3">

<mat-card class="col-5 m-4">
  <mat-card-header>
    <mat-card-title-group class="text-center">
      <mat-card-title style="color: rgb(255, 0, 157);"> ¿Como surgió nuestro emprendimiento? </mat-card-title>
      <br>
    </mat-card-title-group>
    <img mat-card-lg-image src="https://i.pinimg.com/originals/4a/96/68/4a96681541ac66e95d6d2bb667078b32.png">
  </mat-card-header>

  <mat-card-content translate="yes"
  class="text-center">
    <h4>Somos un emprendimiento que surgió a causa de una necesidad
       para poder ayudarle a mi madre con mis gastos de la universidad,
       aprovechando que mi nona, mi maestra me enseño durante pandemia este arte del tejido a crochet,
      decidí ponerlo en práctica y hasta el día de hoy amo mi emprendimiento, me encanta tejer. </h4>
  </mat-card-content>
</mat-card>

<mat-card class="col-5 m-4">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title-group>

      <mat-card-title
      style="color: rgb(255, 0, 157);"
  class="text-center">¿Quienes Somos?</mat-card-title>
      <br>
    </mat-card-title-group>
    <img mat-card-lg-image src="https://i.pinimg.com/originals/0a/93/c3/0a93c3e73d48d7249d87a466e2e046c7.png" alt="">
  </mat-card-header>

  <mat-card-content
  translate="yes"
  class="text-center">
    <h3>Somos una tienda de tejidos virtual, que surgió a base de una necesidad,
      donde buscamos ofrecer productos de buena calidad con una excelente atención
       y empaquetadura para nuestros clientes.
      Nuestra propuesta de valor está enfocada en: "un detalle artesanal" en la cual nos enfocamos
       en que cada pedido cumpla y supere las expectativas de cada cliente
       enfocándonos en su empaquetadura y proceso de fabricación transparente.</h3>
  </mat-card-content>
</mat-card>

</div>
