<div class="grid mt-4 mr-3 ml-3">

  <mat-card class="col-5 m-4">
    <mat-card-header>
      <mat-card-title-group >
        <mat-card-title  style="color:palevioletred"> Misión </mat-card-title>
        <br>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content
    translate="yes"
    class="text-center">
    <h4>
       En Cositas en crochet nos dedicamos a fomentar la creatividad y el arte del tejido a crochet,
       ofreciendo productos de alta calidad y diseños únicos preservando y promoviendo la tradición del tejido artesanal colombiano,
       brindando a nuestros clientes productos que reflejen la belleza y la habilidad de nuestros artesanos locales.
    </h4>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-5 m-4 margin-right-2">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title style="color:palevioletred"> Visión </mat-card-title>
        <br>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content
    translate="yes"
    class="text-center">
    <h4>
      Nos visualizamos como líderes en la industria del crochet en Colombia,
       reconocidos por nuestra excelencia en diseño, calidad y compromiso con la tradición artesanal.
        Deseamos ser un referente de inspiración y creatividad,
         manteniendo siempre nuestros valores de autenticidad,
      integridad y sostenibilidad en todo lo que hacemos
    </h4>
    </mat-card-content>
  </mat-card>
</div>
